<div class="container">
  <%= form_tag companies_path, class: "form-inline", :method => :get do %>
    <% if params[:query].present? %>
      <div class="input-group-btn">
        <%= link_to "clear", companies_path, class: "btn btn-default" %>
      </div>
    <% end %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>
    <div class="input-group-btn">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <% @companies.each do |company| %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><%= link_to company.name, company %></h4>
        </div>
      </div>          
      <div class="panel-body">
        <%= company.description %></br>
        <small>
         submitted <%= time_ago_in_words(company.created_at) %> ago by <%= company.user.name %><br/>
         <%= company.comments.count %> Comments
        </small>
      </div>
    </div>
  <% end %>
</div>

